.messenger {
  height: calc(100vh - 70px);
  display: flex;
  background-color: #303436;
}

.chatMenu {
  flex: 2;
  color: #fff78e;
  border-right: 1px solid #575e64;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 5px;
}

.chatBox {
  flex: 6;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
  border-radius: 15px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #8e9396;
  color: rgb(228, 228, 68);
  font-weight: bold;
}

.chatOnline {
  flex: 2;
  border-left: 1px solid #575e64;
  color: #fff78e;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}

.noconversationText {
  position: absolute;
  top: 10%;
  font-size: 40px;
  color: #f7f2b2;
  opacity: 0.4;
  cursor: default;
}
