.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: flex-start;
}

.messageTop {
  display: flex;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  margin-left: 10px;
}

.messageText {
  padding: 10px;
  border-radius: 20px;
  background-color: #4f5253;
  color: whitesmoke;
  max-width: 300px;
}

.messageBottom {
  font-size: 12px;
  margin-top: 10px;
  color: #fff78e;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: #8e9396;
}
